In [1]:
import pandas as pd
import numpy as np

In [2]:
fin_report = pd.read_excel("Data.xlsx")
fin_report.columns = ["Company", "Date", "Season", "Code", "Industry", "EPS", "PE", "Divdend_Rate"]

fin_report.Date = pd.to_datetime(fin_report.Date)
fin_report["Year"] = fin_report["Date"].apply(lambda x : x.year)
fin_report["Season"] = fin_report["Date"].apply(lambda x : x.quarter)

fin_report.head(17)

    Company       Date  Season  Code Industry   EPS     PE  Divdend_Rate  Year
0   1101 台泥 2013-03-29       1  1101     水泥工業  0.38  12.60          5.07  2013
1   1101 台泥 2013-06-28       2  1101     水泥工業  0.70  10.52          5.15  2013
2   1101 台泥 2013-09-30       3  1101     水泥工業  0.97   9.71          4.44  2013
3   1101 台泥 2013-12-31       4  1101     水泥工業  0.66   9.38          4.97  2013
4   1101 台泥 2014-03-31       1  1101     水泥工業  0.50   8.79          4.89  2014
5   1101 台泥 2014-06-30       2  1101     水泥工業  0.87   7.80          5.09  2014
6   1101 台泥 2014-09-30       3  1101     水泥工業  0.87   7.99          5.08  2014
7   1101 台泥 2014-12-31       4  1101     水泥工業  0.70   7.62          5.74  2014
8   1101 台泥 2015-03-31       1  1101     水泥工業  0.22   8.53          5.65  2015
9   1101 台泥 2015-06-30       2  1101     水泥工業  0.61   8.96          6.39  2015
10  1101 台泥 2015-09-30       3  1101     水泥工業  0.26  11.07          7.47  2015
11  1101 台泥 2015-12-31       4  1101     水泥工業  0.48  11.80          4.87  2015
12  1101 台泥 2016-03-31       1  1101     水泥工業  0.06  15.82          4.22  2016
13  1101 台泥 2016-06-30       2  1101     水泥工業  0.54  15.68          4.15  2016
14  1101 台泥 2016-09-30       3  1101     水泥工業  0.63  12.66          3.73  2016
15  1101 台泥 2016-12-30       4  1101     水泥工業  0.49  10.54          4.13  2016
16  1101 台泥 2017-03-31       1  1101     水泥工業  0.23   9.70          3.99  2017

In [3]:
#定義函數指定真正的公布日期
def real_announce_day(x):
    if x["Season"] == 1:
        return(pd.to_datetime("{}{}".format(x["Year"], "-05-15")))
    elif x["Season"] == 2:
         return(pd.to_datetime("{}{}".format(x["Year"], "-08-14")))
    elif x["Season"] == 3:
         return(pd.to_datetime("{}{}".format(x["Year"], "-11-14")))
    else:
        return(pd.to_datetime("{}{}".format(x["Year"] + 1, "-03-31")))
    
#執行函數    
fin_report["announce_day"] = fin_report.apply(real_announce_day, axis = 1)

In [4]:
#選擇並排列財報資料順序
fin_report = fin_report[["Company", "Code", "Industry", "Year", "Season", "announce_day", "EPS", "PE", "Divdend_Rate"]]

In [5]:
#選出財報資料完善者(每期都有)
consider_list = fin_report.Code.unique()[fin_report.groupby('Code', sort = False).apply(lambda x : len(x)) == 17]
fin_report = fin_report[fin_report.Code.isin(consider_list)]

In [6]:
#計算TTM PE
fin_report["TTM_PE"] = fin_report.groupby("Code", group_keys = False, sort = False).apply(lambda x : x.PE.rolling(4).mean())

In [7]:
#定義函數計算EPS同比成長率

def EPS_growth(x):
    x.reset_index(inplace = True)
    temp = np.zeros(len(x))
    for i in range(len(x)):
        if x["Year"][i] == 2013:
            temp[i] = np.nan
        else:
            temp[i] = (x["EPS"][i] - x["EPS"][i - 4]) / x["EPS"][i - 4]
    return(temp)

temp_result = fin_report.groupby("Code", sort = False, as_index = False).apply(EPS_growth) #要把sort設成False合併回原表時順序才不會變

#出來的值shape是(xxx, )，因此要把值抽出來變成1D array，以下用for loop但應該有更好的方法
result = []
for i in range(len(temp_result)):
    result = np.append(result, temp_result[i])
    
fin_report["EPS_growth"] = result

#以下是完全用for loop的作法
# eps_result = []
# for code in fin_report.Code.unique():
#     temp_data = fin_report[fin_report.Code == code]
#     eps_temp_result = EPS_growth(temp_data)
#     eps_result = np.append(eps_result, eps_temp_result)

# fin_report["EPS_growth"] = eps_result

C:\Users\andy5\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: RuntimeWarning: divide by zero encountered in double_scalars
  # Remove the CWD from sys.path while we load stuff.
C:\Users\andy5\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: RuntimeWarning: invalid value encountered in double_scalars
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#計算預期股利率
fin_report["Divdend_Rate"] = fin_report["Divdend_Rate"]/100
fin_report["Expeceted_Dividend_Rate"] = fin_report.groupby("Code", group_keys = False, sort = False).apply(lambda x : x.Divdend_Rate.rolling(4).mean())

In [9]:
fin_report

,Company,Code,Industry,Year,Season,announce_day,EPS,PE,Divdend_Rate,TTM_PE,EPS_growth,Expeceted_Dividend_Rate
0,1101 台泥,1101,水泥工業,2013,1,2013-05-15,0.38,12.60,0.0507,NaN,NaN,NaN
1,1101 台泥,1101,水泥工業,2013,2,2013-08-14,0.70,10.52,0.0515,NaN,NaN,NaN
2,1101 台泥,1101,水泥工業,2013,3,2013-11-14,0.97,9.71,0.0444,NaN,NaN,NaN
3,1101 台泥,1101,水泥工業,2013,4,2014-03-31,0.66,9.38,0.0497,10.5525,NaN,0.049075
4,1101 台泥,1101,水泥工業,2014,1,2014-05-15,0.50,8.79,0.0489,9.6000,0.315789,0.048625
5,1101 台泥,1101,水泥工業,2014,2,2014-08-14,0.87,7.80,0.0509,8.9200,0.242857,0.048475
6,1101 台泥,1101,水泥工業,2014,3,2014-11-14,0.87,7.99,0.0508,8.4900,-0.103093,0.050075
7,1101 台泥,1101,水泥工業,2014,4,2015-03-31,0.70,7.62,0.0574,8.0500,0.060606,0.052000
8,1101 台泥,1101,水泥工業,2015,1,2015-05-15,0.22,8.53,0.0565,7.9850,-0.560000,0.053900
9,1101 台泥,1101,水泥工業,2015,2,2015-08-14,0.61,8.96,0.0639,8.2750,-0.298851,0.057150
10,1101 台泥,1101,水泥工業,2015,3,2015-11-14,0.26,11.07,0.0747,9.0450,-0.701149,0.063125
11,1101 台泥,1101,水泥工業,2015,4,2016-03-31,0.48,11.80,0.0487,10.0900,-0.314286,0.060950
12,1101 台泥,1101,水泥工業,2016,1,2016-05-15,0.06,15.82,0.0422,11.9125,-0.727273,0.057375
13,1101 台泥,1101,水泥工業,2016,2,2016-08-14,0.54,15.68,0.0415,13.5925,-0.114754,0.051775
14,1101 台泥,1101,水泥工業,2016,3,2016-11-14,0.63,12.66,0.0373,13.9900,1.423077,0.042425
15,1101 台泥,1101,水泥工業,2016,4,2017-03-31,0.49,10.54,0.0413,13.6750,0.020833,0.040575
16,1101 台泥,1101,水泥工業,2017,1,2017-05-15,0.23,9.70,0.0399,12.1450,2.833333,0.040000
17,1102 亞泥,1102,水泥工業,2013,1,2013-05-15,0.40,19.04,0.0466,NaN,NaN,NaN
18,1102 亞泥,1102,水泥工業,2013,2,2013-08-14,1.09,14.30,0.0461,NaN,NaN,NaN
19,1102 亞泥,1102,水泥工業,2013,3,2013-11-14,0.53,12.08,0.0446,NaN,NaN,NaN
20,1102 亞泥,1102,水泥工業,2013,4,2014-03-31,1.38,10.41,0.0466,13.9575,NaN,0.045975
21,1102 亞泥,1102,水泥工業,2014,1,2014-05-15,0.47,9.99,0.0474,11.6950,0.175000,0.046175
22,1102 亞泥,1102,水泥工業,2014,2,2014-08-14,1.21,9.90,0.0440,10.5950,0.110092,0.045650
23,1102 亞泥,1102,水泥工業,2014,3,2014-11-14,0.64,10.27,0.0454,10.1425,0.207547,0.045850
24,1102 亞泥,1102,水泥工業,2014,4,2015-03-31,0.69,11.69,0.0564,10.4625,-0.500000,0.048300
25,1102 亞泥,1102,水泥工業,2015,1,2015-05-15,0.47,11.69,0.0559,10.8875,0.000000,0.050425
26,1102 亞泥,1102,水泥工業,2015,2,2015-08-14,0.94,13.99,0.0603,11.9100,-0.223140,0.054500
27,1102 亞泥,1102,水泥工業,2015,3,2015-11-14,0.02,17.64,0.0683,13.7525,-0.968750,0.060225
28,1102 亞泥,1102,水泥工業,2015,4,2016-03-31,0.14,20.52,0.0401,15.9600,-0.797101,0.056150
29,1102 亞泥,1102,水泥工業,2016,1,2016-05-15,0.06,31.80,0.0374,20.9875,-0.872340,0.051525
...,...,...,...,...,...,...,...,...,...,...,...,...
15375,9955 佳龍,9955,其他,2014,1,2014-05-15,0.12,NaN,0.0000,NaN,1.000000,0.007125
15376,9955 佳龍,9955,其他,2014,2,2014-08-14,0.01,71.24,0.0000,NaN,-1.011236,0.003475
15377,9955 佳龍,9955,其他,2014,3,2014-11-14,0.05,NaN,0.0000,NaN,-0.940476,0.000000
15378,9955 佳龍,9955,其他,2014,4,2015-03-31,0.19,35.65,0.0000,NaN,-1.301587,0.000000
15379,9955 佳龍,9955,其他,2015,1,2015-05-15,0.08,38.08,0.0000,NaN,-0.333333,0.000000
15380,9955 佳龍,9955,其他,2015,2,2015-08-14,-0.35,827.57,0.0000,NaN,-36.000000,0.000000
15381,9955 佳龍,9955,其他,2015,3,2015-11-14,-0.23,NaN,0.0000,NaN,-5.600000,0.000000
15382,9955 佳龍,9955,其他,2015,4,2016-03-31,-0.74,NaN,0.0000,NaN,-4.894737,0.000000
15383,9955 佳龍,9955,其他,2016,1,2016-05-15,-0.10,NaN,0.0000,NaN,-2.250000,0.000000
15384,9955 佳龍,9955,其他,2016,2,2016-08-14,0.24,NaN,0.0000,NaN,-1.685714,0.000000
15385,9955 佳龍,9955,其他,2016,3,2016-11-14,-0.19,NaN,0.0000,NaN,-0.173913,0.000000
15386,9955 佳龍,9955,其他,2016,4,2017-03-31,-1.17,NaN,0.0000,NaN,0.581081,0.000000
15387,9955 佳龍,9955,其他,2017,1,2017-05-15,-0.26,NaN,0.0000,NaN,1.600000,0.000000
15388,9958 世紀鋼,9958,鋼鐵工業,2013,1,2013-05-15,0.53,4.81,0.0244,NaN,NaN,NaN
15389,9958 世紀鋼,9958,鋼鐵工業,2013,2,2013-08-14,0.41,5.81,0.0241,NaN,NaN,NaN
15390,9958 世紀鋼,9958,鋼鐵工業,2013,3,2013-11-14,0.37,7.26,0.0173,NaN,NaN,NaN
15391,9958 世紀鋼,9958,鋼鐵工業,2013,4,2014-03-31,-0.01,12.36,0.0546,7.5600,NaN,0.030100
15392,9958 世紀鋼,9958,鋼鐵工業,2014,1,2014-05-15,0.22,13.82,0.0586,9.8125,-0.584906,0.038650
15393,9958 世紀鋼,9958,鋼鐵工業,2014,2,2014-08-14,0.13,15.88,0.0604,12.3300,-0.682927,0.047725
15394,9958 世紀鋼,9958,鋼鐵工業,2014,3,2014-11-14,-0.05,29.31,0.0727,17.8425,-1.135135,0.061575
15395,9958 世紀鋼,9958,鋼鐵工業,2014,4,2015-03-31,0.06,24.10,0.0091,20.7775,-7.000000,0.050200
15396,9958 世紀鋼,9958,鋼鐵工業,2015,1,2015-05-15,0.02,43.77,0.0099,28.2650,-0.909091,0.038025
15397,9958 世紀鋼,9958,鋼鐵工業,2015,2,2015-08-14,0.04,139.96,0.0107,59.2850,-0.692308,0.025600
15398,9958 世紀鋼,9958,鋼鐵工業,2015,3,2015-11-14,0.48,15.11,0.0109,55.7350,-10.600000,0.010150
15399,9958 世紀鋼,9958,鋼鐵工業,2015,4,2016-03-31,0.47,8.57,0.0400,51.8525,6.833333,0.017875
15400,9958 世紀鋼,9958,鋼鐵工業,2016,1,2016-05-15,0.07,8.64,0.0381,43.0700,2.500000,0.024925
15401,9958 世紀鋼,9958,鋼鐵工業,2016,2,2016-08-14,0.29,6.35,0.0403,9.6675,6.250000,0.032325
15402,9958 世紀鋼,9958,鋼鐵工業,2016,3,2016-11-14,-0.06,9.31,0.0402,8.2175,-1.125000,0.039650
15403,9958 世紀鋼,9958,鋼鐵工業,2016,4,2017-03-31,0.10,15.58,0.0311,9.9700,-0.787234,0.037425
15404,9958 世紀鋼,9958,鋼鐵工業,2017,1,2017-05-15,0.07,15.32,0.0310,11.6400,0.000000,0.035650

In [10]:
fin_report.to_csv("fin_report.csv", index = False)